@model List<Movie>



<h1>Film Listesi</h1>
<div id="filmler">

    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_movie", item)
    }

</div>

@section menu
{
    @await Html.PartialAsync("_menu")
}